:root {
  --primary: violet;
  --secondary: #78f0ff;
  --text-primary: #999;
  --bg: #333;
}

body {
  font-size: 1.25rem;
  font-family: "Work Sans", sans-serif;
  min-height: 300vh;
}

.hero {
  position: relative;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("img/bg.avif");
  background-size: cover;
  background-position: center;
  z-index: -1;
  /* filter: blur(3px); */
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.hero h4 {
  font-size: 1.5rem;
}

.hero h1 {
  font-family: "sacramento", cursive;
  font-size: 5rem;
}

.hero p {
  font-size: 1.25rem;
}

.hero a {
  color: var(--primary);
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero a:hover {
  color: white;
  background-color: var(--primary);
}

/* Media Query */

/* Laptop */
@media screen and (max-width: 992px) {
  :root {
    font-size: 85%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  :root {
    font-size: 65%;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  :root {
    font-size: 50%;
  }
}
